.btn-whatsapp {
    background-color: #4fce5d!important;
    border-color: #4fce5d!important;
    color: #fff;
}

.btn-vk {
    background-color: #5082b4!important;
    border-color: #5082b4!important;
    color: #fff;
}

.btn-instagram {
    background-color: #fb3958!important;
    border-color: #fb3958!important;
    color: #fff;
}

.btn-viber {
    background-color: #7d5199!important;
    border-color: #7d5199!important;
    color: #fff;
}

.btn-tg {
    background-color: #1e97cb!important;
    border-color: #1e97cb!important;
    color: #fff;
}

.btn-social {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-social:active, .btn-social:hover {
    color: #fff;
    font-weight: bold;
}

.btn-youtube {
    background-color: #c4302b!important;
    border-color: #c4302b!important;
    color: #fff;
}

.btn-youtube:hover, .btn-youtube:active, .btn-youtube:focus {
    color: #eee;
}

/* Copyright to https://www.canva.com/photos/MADGv2rMmho-person-standing-in-front-of-white-buildings/ */
.bg-business:before {
    background-color: black;
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(../img/bg-business.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
  }
  
  .bg-transparent {
    background-color: rgba(248, 249, 250, .95)!important;
  }
