.btn-whatsapp {
    background-color: #4fce5d!important;
    border-color: #4fce5d!important;
    color: #fff;
}

.btn-vk {
    background-color: #5082b4!important;
    border-color: #5082b4!important;
    color: #fff;
}

.btn-instagram {
    background-color: #fb3958!important;
    border-color: #fb3958!important;
    color: #fff;
}

.btn-viber {
    background-color: #7d5199!important;
    border-color: #7d5199!important;
    color: #fff;
}

.btn-tg {
    background-color: #1e97cb!important;
    border-color: #1e97cb!important;
    color: #fff;
}

.btn-social {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-social:active, .btn-social:hover {
    color: #fff;
    font-weight: bold;
}

.btn-youtube {
    background-color: #c4302b!important;
    border-color: #c4302b!important;
    color: #fff;
}

.btn-youtube:hover, .btn-youtube:active, .btn-youtube:focus {
    color: #eee;
}

.btn-events4friends {
    background-color: rgb(74, 163, 82) !important;
    border-color: rgb(74, 163, 82)!important;
    color: #fff;
}

.btn-events4friends:hover, .btn-events4friends:active, .btn-events4friends:focus {
    color: #eee;
}

.bg-transparent {
  background-color: rgba(248, 249, 250, .95)!important;
}

.btn-transformation {
  background-color: #ec3642!important;
  border-color: #dc3545!important;
  color: #fff;
}

.btn-transformation:hover, .btn-transformation:active, .btn-transformation:focus  {
  color: #eee;
}
